fastapi
uvicorn
sqlalchemy
psycopg2-binary
pydantic
pydantic[email]
python-dotenv
yfinance
requests
bcrypt==4.0.1
passlib[bcrypt]
python-jose[cryptography]
python-multipart
reportlab
celery==5.3.6
redis==5.0.1
yfinance==0.2.36